* {
  box-sizing: border-box;
}
header {
  background-color: #808080;
  /*width: 80%;*/
  height: 110px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  margin: 0 30px;
  display: block;
}
nav {
  display: inline-block;
  float: right;
  margin-right: 50px;
  color: lightblue;
  margin-top: 45px;
}
nav a {
  width: 30px;
  height: 20px;
  background-color: #000;
}
h1 {
  display: inline-block;
  float: left;
  color: lightblue;
  /*padding: 100px 0 100px 25px;*/
  margin-top: 30px;
  margin-left: 50px;
  font-size: 40px;
}
h5 {
  display: inline-block;
  float: left;
  margin-top: 70px;
  margin-left: -90px;
  color: lightgrey;
}
.clear {
  clear: both;
  margin: 20px 0;
}
main img {
  float: right;
  width: 630px;
  height: 300px;
  margin-top: 25px;
  margin-right: 70px;
  border-left: solid 2px lightgrey;
  padding-left: 20px;
}
a {
  color: lightgrey;
  text-decoration: none;
  margin: 10px;
  padding: 8px;
  border-radius: 5px;
}
a:hover {
  color: blue;
}
.border-line {
  border-left: 1px solid lightgrey;
  float: right;
  width: 300px;
  height: 300px;
  margin-top: 25px;
  margin-right: 170px;
}
article {
  height: 300px;
  width: 28%;
  margin-left: 20px;
  clear: both;
  display: inline-block;
  margin-top: 50px;
}
article img {
  width: 80px;
  height: 80px;
  float: left;
  /*margin-top: 400px;*/
  margin: 0 20px 10px;
  padding: 8px;
  border: 1px solid;
}
article p {
  margin-left: 20px;
}
h2 {
  margin-left: 20px;
  font-size: 25px;
  margin-bottom: 10px;
}
footer {
  background-color: #222;
  height: 40px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: left;
  margin: -110px 30px 0;
}
footer p {
  color: white;
  padding-top: 13px;
  padding-left: 8px;
  font-size: .8rem;
}
a.orange {
  margin-top: 10px;
  margin-right: 0%;
  color: orange;
  float: right;
  padding: 0;
}
.last {
  float: right;
  margin-right: 30px;
}
.middle {
  margin: 0 40px 10px 80px;
}
