body {
    background-image: url("https://images.unsplash.com/photo-1444831953286-fe8d05bb3334?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=96cefd70d3fabaed69694a42ae2dfb71");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.wrapper {
    margin: 2rem;
}


/* Header and Nav Content */

header {
    background-color: rgba(228, 242, 215, 0.6);
    height: auto;
    width: 20%;
    padding: 15px;
    position: fixed;
}

#logo {
    width: 100%;
    height: auto;
}


/* ---Navigation--- */

nav ul {
    list-style: none;
    background-color: rgba(6, 2, 23, 0.7);
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #E4F2D7;
}

nav a {
    text-decoration: none;
    color: rgba(228, 242, 215, 0.8);
    display: block;
}

nav a:hover {
    background-color: rgba(66, 165, 192, 0.8);
}

nav a.active {
    background-color: #2672A4;
    color: #E4F2D7;
    cursor: pointer;
}


/* ---Sub Navigation--- */

#dropdown ul {
    visibility: hidden;
    position: relative;
}

#dropdown ul li {
    text-decoration: none;
    color: rgba(228, 242, 215, 0.8);
}

#dropdown:hover ul {
    background-color: rgba(66, 165, 192, 0.8);
    visibility: visible;
}

#dropdown ul li:hover {
    background-color: #2672A4;
    color: #E4F2D7;
    cursor: pointer;
}


/* Body Content */

#about {
    max-height: 600px;
    background-position: center;
}

main {
    background-color: rgba(228, 242, 215, 0.6);
    height: 780px;
    width: 70%;
    position: fixed;
    padding: 15px;
    margin-left: 25rem;
    overflow: auto;
}

#about {
    width: 100%;
    height: auto;
    opacity: 0.95;
}

.team {
    display: inline-flex;
    justify-content: center;
}

.profile {
    word-wrap: normal;
    text-align: center;
}

#team_member {
    width: 100px;
    height: 100px;
    border-radius: 60%;
}


/* ---Contact Form--- */

#contact {
    width: 100%;
    height: auto;
    margin: 0 0 0 30px;
    display: inline-flex;
}

#contact form input,
#contact form textarea {
    width: 97.4%;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    color: #020624;
    letter-spacing: 1px;
    background: #FFF;
    border: 2px solid #FFF;
    margin-bottom: 25px;
}

#contact form textarea {
    height: 100px;
}

#contact form .submit {
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
    background: #2672A4;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #E4F2D7;
    border: 2px solid #2672A4;
}

#contact form .submit:hover {
    color: #E4F2D7;
    border: 2px solid #42A5C0;
    background: #42A5C0;
    cursor: pointer;
}


/* ---Social Media Icons--- */

.social {
    margin: 0 50px;
    padding: 0;
}

.social li {
    margin: 25px;
    list-style: none outside none;
}

.social i {
    width: 40px;
    height: 30px;
    color: #FFF;
    background-color: #2672A4;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #03083F;
}

.social .fa-github:hover {
    background: #343434;
}

.social .fa-linkedin:hover {
    background: #0094BC;
}

.social .fa-instagram:hover {
    background: #375989;
}